*{
    margin: 0;
    padding: 0;
}
body{
    display:grid;
    grid-template-areas: 
    "header header"
    "main main" 
    "footer footer";
    font-family: sans-serif;
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(92, 150, 184);
    padding: 20px;
}
header ul li{
    list-style: none;
    font-family: sans-serif;
}
header ul li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
a:hover{
    color:rgb(224, 224, 224)
}

main{
    grid-area: main;
    justify-content: center;    
}
section {
    display: flex;
    justify-content: center;
}
.precio-1,.precio-2, .precio-3 {
    padding: 10px;
    background-color: antiquewhite;
    border: black solid 1px;
    width: 20%;
}
.precio-1,.precio-2, .precio-3, ul li {
    list-style: none;
}
.coste-servicio{
    font-size: 12px;
}